@primary-color: #FFE60F;

@primary-color-50: #fffbeb;
@primary-color-100: #fef3c7;
@primary-color-200: #fde68a;
@primary-color-300: #fcd34d;
@primary-color-400: #fbbf24;
@primary-color-500: #FFE60F; // 主色
@primary-color-600: #d97706;
@primary-color-700: #b45309;
@primary-color-800: #92400e;
@primary-color-900: #78350f;


@text-color: #333; // 文字颜色
@text-title-color: #0c0c0c; // 标题颜色
@text-white-color: #fff; // 白色文字颜色


// 间隙颜色
@gap-color: #f7f7f7; // 间隙颜色

@sidebar-bg-color: #333; // 侧边栏背景颜色